/**
 * @file The abstract skin of the chessman.
 *
 * @auth Cory(kuanghongrui@baijiahulian.com)
 */

.chessman {
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    border-radius: 50%;
}